@tailwind base;
@tailwind components;
@tailwind utilities;
 
@layer base {
  :root {
    --background: 225 20% 96%;
    --foreground: 0 0% 3%;
    --card: 225 20% 96%;
    --card-foreground: 0 0% 3%;
    --popover: 225 20% 96%;
    --popover-foreground: 0 0% 3%;
    --primary: 240 70% 52%;
    --primary-foreground: 225 20% 96%;
    --secondary: 240 40% 49%;
    --secondary-foreground: 225 20% 96%;
    --muted: 225 20% 20%;
    --muted-foreground: 0 0% 70%;
    --accent: 223 100% 29%;
    --accent-foreground: 225 20% 96%;
    --destructive: 0 85% 60%;
    --destructive-foreground: 0 0% 3%;
    --border: 225 20% 20%;
    --input: 225 20% 20%;
    --ring: 223 100% 40%;
    --radius: 0.5rem;
  }
 
  .dark {
    --background: 225 20% 4%;
    --foreground: 0 0% 97%;
    --card: 225 20% 4%;
    --card-foreground: 0 0% 97%;
    --popover: 225 20% 4%;
    --popover-foreground: 0 0% 97%;
    --primary: 240 70% 48%;
    --primary-foreground: 0 0% 97%;
    --secondary: 240 40% 51%;
    --secondary-foreground: 0 0% 97%;
    --muted: 225 20% 80%;
    --muted-foreground: 0 0% 97%;
    --accent: 223 100% 71%;
    --accent-foreground: 225 20% 4%;
    --destructive: 0 62% 30%;
    --destructive-foreground: 0 0% 10%;
    --border: 225 20% 60%;
    --input: 225 20% 80%;
    --ring: 223 100% 60%;
  }
}
 
@layer base {
  * {
    @apply border-border;
  }
  body {
    @apply bg-background text-foreground;
  }
}